body {
	background: #f4f6f9;
 }
#contenedor {
	width: 960px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	position: relative;
}
header {
	width: 960px;
	height: 240px;
	background: #161616;
    margin-bottom: 20px;
	border:inset 0px #161616;
	-moz-border-radius-topright:60px;
    -webkit-border-top-right-radius:60px;
    border-top-right-radius:60px;
}
#marca {
	width: 200px;
	height: 90px;
	padding: 10px;
}
#botonera {
	width: 960px;
	height: 45px;
	text-align: left;
	margin-top: 90px; 
	background-color: #161616;
}
#botonera ul {
	margin: 13px;
	padding: 13px;
	list-style-type: none;
}
#botonera li {
	display: inline;
}
#botonera li a {
	display: inline-block;
	padding-left: 100px;
	color: #fff;
	font: normal bold 100%  Century Gothic, sans-serif;
	text-decoration: none;
	-webkit-transform: translate(-65px, 0px);
	-moz-transform: translate(-65px, 0px);
	-o-transform: translate(-65px, 0px);
	-ms-transform: translate(-65px, 0px);
	transform: translate(-65px, 0px);
}
#botonera li a:hover {
	color: #676462;
}
#contenido {
	width: 960px;
	height: auto;
	position: relative;
}
#lateral_izq {
	width: 630px;
	height: auto;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
h2 {
	margin-top: 1px;
	color: #8383;
	text-decoration: none;
	text-align: left;
	text-shadow: 2px 6px 5px #928e8e;
	font-family: 'Staatliches', cursive;
}
h2 a {
	color: #000000;
	font: normal bold 38px  Century Gothic, sans-serif;
	text-decoration: none;
	font-family: 'Staatliches', cursive;
}

h2 a:hover {
	color: #b31D00;
	text-decoration: none;
}
h3 {
	margin: -10px -10px 5px -10px;
	text-align: center;
	color: #161616;
	font: normal bold 60px  Century Gothic, sans-serif;
	text-shadow:1px 1px 8px #676462;
	font-family: 'Teko', sans-serif;
}
.imagen {
	width: 630px;
	-moz-box-shadow: 21px #000000;
    -webkit-box-shadow: 21px #000000;
    box-shadow: 21px #000000;
 }
 .portada {
 	-webkit-transform: translate(-10px, -10px);
 	-moz-transform: translate(-10px, -10px);
 	-o-transform: translate(-10px, -10px);
 	-ms-transform: translate(-10px, -10px);
 	transform: translate(-10px, -10px);
 }
 
p {
	font-family: Arial;
	color: #444444;
	text-align: justify;
	font-size: 16px;
 }
 p a {
  	color: #FF6600;
  	text-decoration: none;
}

#lateral_der {
	width: 310px;
	height: auto;
	float: right;
}
.foto_perfil {
	width: 220px;
	padding-left: 43px;
	padding-right: 10px;
}

#perfil {
	width: 100%;
	height: auto;
}

footer {
	padding: 2%;
	width: 96%;
	position: relative;
	background: #161616;
    float:left;
	clear: left;
}
#footer1 p {
	font-family: Century Gothic, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold; 
}
#footer1 p a {
	color: #FFFFFF;
}

@media handheld, screen and (min-width: 600px) and (max-width: 1023px) {


#contenedor {
	width: 540px;
}
header {
	width: 100%;
}
#marca {
	width: 100%;
}
#botonera {
	width: 100%;
	height: auto;
}

#botonera li a {
	padding-left: 50px;
}

#contenido {
	width: 540px;
}
#lateral_izq {
	width: 400px;
	float: center;
	padding-left: none;
}

h2 {
	width: 400px;
	font: normal bold 26px;
}
h2 a {
	font: normal bold 26px 'Staatliches', cursive;
}

h3 {
	float: right;
	margin: 10px;
	padding: 1px;
	font: normal bold 30px  'Teko', sans-serif;
}


.imagen {
	width: 380px;
 }
 
.portada {
 	width: 540px;
}
p {
	font-size: 1em;
}

#lateral_der {
	width: 20%;
	height: auto;
}
.foto_perfil {
	width: 120px;
	float: right;
}
#footer1 p {
	font-size: 15px; 
}

}

@media handheld, screen and (max-width: 599px) {


#contenedor {
	width: 100%;
}
header {
	width: 95%;
	height: auto;
}

#marca {
	width: 100%;
}
#botonera {
	width: 100%;
	height: auto;
}
#botonera ul {
	text-align: center;
	margin: 1px;
	padding: 1px;
}
#botonera li {
	display: block;
}
#botonera li a {
	display: block;
	font: normal bold 100% 'Staatliches', cursive;
}
#contenido {
	width: 90%;
	height: auto;
}
#lateral_izq {
	width: 100%;
	height: auto;
	float: center;
}
h2 {
	text-align: center;
	margin-top: 1px;
	font: normal bold 100%;
}
h2 a {
	font: normal bold 100%  'Staatliches', cursive;
}
h3 {
	display: none;
}
.imagen {
	width: 98%;
	height: auto;
 }
.portada {
 	width: 100%;
 	height: auto;
 }
 p {
	font-size: 0.9em;
 }
#lateral_der {
	display: none;
}
#perfil {
	display: none;
}

#footer1 p {
	font-size: 10px; 
}

}